<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.danny270793.mypostman" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>
        My Postman
    </name>
    <description>
        Postman "replica" app
    </description>
    <author email="danny270793@icloud.com" href="https://danny270793.github.io">
        Danny Vaca
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <hook type="before_build" src="hooks/deploy_react.js" />
    <icon src="www/icon.png" />
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/icon.png" />
    </platform>
    <preference name="SplashScreenBackgroundColor" value="#0000FF" />
</widget>
